body{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	text-align: center;
	color: white;
}



input{
	width: 200px;
	height: 100px;
	outline: none;
	border: none;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
	border-color: white;

}

h3{
	font-size: 1em;
	margin-top: 100px;
}

button{
	font-size: 2em;
	outline: none;
	cursor: pointer;
	color: white;
	background-color: rgba(0,0,0,0);
}